<!doctype html>
<html>
<head>
<title>About page</title>

<style type = "text/css">
header#app{
  border:2px solid #456373;
  color:white;
  height:300px;
  width:100%;
  background-color:orange;
   text-align:center;
}
header#app div p.or h2{

color:ash;


}
header#app div p.ot{
	
 color:white;
text-align:left;
}
article#you{
    border:2px solid black;
  color:orange;
  height:100px;
  width:100%;
  background-color:#456373;
 margin: 0px;
  padding-top:0px;

}
article#you div.re{
  color:orange;
  height:80px;
  width:50%;
 
  margin-top: 0px;
  padding:0px;
  float:right;
}
article#you div.ra{
  width:50%;
  height:80px;
    margin: 0px;
    padding:0px;
	float:right;
		float:top;
		color:orange;
		
}
</style>
</head>
<body>
<%= link_to "welcome", root_path %>
<header id= "app">
<div>
<p class ="or"> <h2>WANT TO KNOW MORE ABOUT US</h2> </p>
<p class ="ot">the services we offer range from Transport, Business consultancy to real estate . We treat our customers very well in all the services we offer because without them we won't be here.
Our transport service is affordable as regards price as we always consider our costumers in all we do, comfortability is also rest assured  with our hotlines made easily available to our costumers in case of complaint to be made or report of any case of recklesness on the part of our drivers.<br>
Also we have integrated online payment on our website so that costumers can easily book and pay online for any journey they want to embark on with ease and comfort. </p>
<p class ="oz">We also offer business consultancy services to various firms and corporations within and outside Nigeria. Some of our clients are unilever,Dangote cement and gote ltd.The Business consultancy service we offer range from IT support to customer service as they are essential to any business that want to survive the competitive edge.....<br><br><br>


</div>
</header>
<article id ="you">
<div class ="re">
<p>Are you looking for where to advertise your business....<br><br>

Look no more as you can advertise your business<br></p>
</div>
<div class ="ra">
<p> </p>
</div>
</article>
</body>