<!doctype html>
<html>
  <head>
   <title>Welcome page</title>
     
	  <style type = "text/css">
	  
header#app{
  border:2px solid #456373;
  color:green;
  height:100px;
  width:100%;
  background-color:white;
     text-align:center;
}
header#app div p.ok{

color:green;
text-align:right;
}
header#app div p.ol{
	
 color:green;
text-align:center;
}
article#you{
    border:2px solid black;
  color:white;
  height:200px;
  width:100%;
  background-color:#456373;
 margin: 0px;
  padding-top:0px;

}
article#you div.re{
  color:white;
  height:180px;
  width:50%;
 
  margin-top: 0px;
  padding:0px;
  float:right;
}
article#you div.ra{
  width:50%;
  height:180px;
    margin: 0px;
    padding:0px;
	float:right;
		float:top;
		color:white;
		
}
article#you div.ra h3{
	text-align:center;
}
footer{
	  background-color:#456373;
	  color:black;
	  height:100px;
}
	  </style>
</head>
<body>
<%= link_to "about", entries_about_path %>
<header id= "app">
<div>
<p class ="ok"> <h2>WELCOME TO MY HOME PAGE</h2> </p>
<p class ="ol"><h5>this is the latest page that is loaded with what you are looking for    </h5></p>
</div>
</header>
<article id ="you">
<div class ="re">
<p>On this page you will have all you are looking for such as entertainment, sports, health,politics and business gist so you have to stay cool as you read...<br><br><br><br>

make sure that whatever complains you have feel free to report or call any of our lines...<br></p>
</div>
<div class ="ra">
<h3 class= "rah">STUDENTS ONLY</h3>
<p>Undergraduates that are currently in 200level or 3oolevel are expected to ....<br><br><br><br><br>

make sure you submit documents such as o' level results, jamb admission letter, passport and ID card remember multiple applications will attract penalty so beware....<br></p>
</div>
</article>
<footer>
content will soon be uploaded in this section
</footer>
</body>